<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/navigation') %>

        <section>
            <div class="container vh-100 d-flex flex-column my-5 p-5">
                <div class="card bg-dark text-white text-center m-5">
                    <div class="card-header">
                        <h3 class="text-warning">Contact me</h3>
                    </div>

                    <div class="card-body text-start">
                        <form action="mailto:rafaelbc.dev@gmail.com?subject=Contact from RafaelBC NodeJs Website" method="post" enctype="text/plain">
                            <div class="mb-3">
                                <label for="message" class="form-label">Type the message you want to send me:</label>
                                <textarea name="message" rows="3" class="form-control"></textarea>
                            </div>

                            <button class="btn btn-primary btn-block">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <%- include('partials/footer') %>

</body>

</html>